﻿
@{
    ViewBag.Title = "MetaList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model List<DTO.MetaDTO>
<section class="content-header">

    <h1>Meta List</h1>
    <ol class=" breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Meta</a></li>
        <li class="breadcrumb-item active"><a>Meta list</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Meta/AddMeta'">Add Meta</button>
</div>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listeleme Ekranı</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 20%">Name</th>
                    <th style="width: 60%">Meta Content</th>
                    <th style="width: 10%">Update</th>
                    <th style="width: 10%">Delete</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>

                    <tr id="a_@item.MetaID">
                        <td>@item.Name</td>
                        <td>
                            @item.MetaContent
                        </td>
                        <td align="center" valign="middle">
                            <a href="/Admin/Meta/UpdateMeta/@item.MetaID">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/update.png" width="24px" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/delete.png" width="24px" />
                            </a>
                        </td>

                    </tr>

                </tbody>

            }

            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Meta Content</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
